.all-blogs-banner {
    /* Rectangle: */
    display: block;
    position: relative;
    background-image: white;
    padding: 20px 10px 60px 10px;
    width: 100%;
    height: 640pt; 
    z-index: 3;   
}

.website-logo {
    padding-top: 8px;
    /* DACHANG LIU: */
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 16px;
    color: black;
    letter-spacing: 0.07px;    
}

.nav-bar-blog {
    padding-bottom: 44pt;
}

.blog-entry {
    padding-top: 24pt;
}

.blog-entry a {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 48px;
    color: black;
    letter-spacing: 0.3px;
    line-height: 64px;
    margin-bottom: 0pt;
    margin-top: 0pt;
}

.blog-entry p {
    font-family: 'AvenirNext-Regular';
    font-size: 18px;
    color: black;
    line-height: 32px;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
    opacity: 0.6;
}

.navbar-inverse .navbar-nav > li > a:active {
    color: black;
    opacity: 0.6;
}

.all-blogs-nav-titles {
    color: black;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0);    
}