.moonshot-header {
    /* Rectangle: */
    overflow: hidden;
    display: block;
    position: relative;
    background-color: black;
    width: 100%;
    height: 640pt;
}

.moonshot-project-intro {
    display: block;
    position: relative;
    background-color: white;
    padding: 100pt 10px 60px 10px;
    width: 100%;
    height: 640pt;
    z-index: 2;
}

.moonshot-project-features {
    overflow: hidden;
    display: block;
    position: relative;
    background-color: white;
    padding: 64pt 10px 60px 10px;
    width: 100%;
    height: 640pt;
    z-index: 2;
}

.moonshot-project-interface-intro {
    overflow: hidden;
    display: block;
    position: relative;
    background: url(../img/moonshot-interface-bg.jpg) #231f20 no-repeat center center;
    padding: 240pt 10px 60px 10px;
    width: 100%;
    height: 640pt;
    z-index: 2;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    
}

.moonshot-project-interface-collection {
    display: block;
    position: relative;
    background-color: black;
    padding: 119pt 10px 60px 10px;
    width: 100%;
    height: 640pt;
    z-index: 2;    
}

.moonshot-project-footer {
    overflow: hidden;
    display: block;
    position: relative;
    background: url(../img/moonshot-project-footer-bg.jpg) #231f20 no-repeat center center;
    padding: 90pt 10px 60px 10px;
    width: 100%;
    height: 640pt;
    z-index: 2;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}

.moonshot-project-intro-constraint {
    padding-left: 48px;
    padding-right: 48px;
}

.moonshot-project-features-constraint {
    padding-left: 48px;
    padding-right: 48px;
}

.moonshot-project-interface-intro-constraint {
    padding-left: 48px;
    padding-right: 48px;
}

.moonshot-project-feature-row {
    padding-top: 47pt;
}

.website-logo {
    padding-top: 8px;
    /* DACHANG LIU: */
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 16px;
    color: white;
    letter-spacing: 0.07px;    
}

a:hover, a:focus, a:active {
    color: white;
}

.moonshot-nav-titles {
    color: white;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0);
}

.moonshot-project-title {
    padding-top: 100pt;
}

.moonshot-project-subtitle {
    padding-top: 80pt;
}

.moonshot-show-video {
    padding-top: 40pt;
}

.moonshot-show-video-footer {
    padding-top: 20pt;
}

.moonshot-interface-screenshot {
    padding-top: 20pt;
}

.moonshot-footer-links {
    margin-top: 250pt;
    margin-bottom: 28pt;
    padding-right: 26pt;
    height: 30pt;
}

.moonshot-project-title h1 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 64px;
    color: white;
    letter-spacing: 0.3px;
    line-height: 72px;
}

.moonshot-project-subtitle h4 {
    color: white;
}

.moonshot-project-intro h4 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 36px;
    color: black;
    letter-spacing: 0.17px;
    line-height: 36px;    
}

.moonshot-project-intro p {
    font-family: 'AvenirNext-Regular';
    font-size: 18px;
    color: black;
    line-height: 32px;
}

.moonshot-project-features h4 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 36px;
    color: black;
    letter-spacing: 0.17px;
    line-height: 36px;    
}

.moonshot-project-features p {
    font-family: 'AvenirNext-Regular';
    font-size: 18px;
    color: black;
    line-height: 32px;
}

.moonshot-project-interface-intro h4 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 36px;
    color: white;
    letter-spacing: 0.17px;
    line-height: 36px;  
}

.moonshot-project-interface-intro p {
    font-family: 'AvenirNext-Regular';
    font-size: 24px;
    color: white;
    line-height: 36px;
}

.moonshot-project-footer h4 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 36px;
    color: white;
    letter-spacing: 0.17px;
    line-height: 36px;      
}

.moonshot-project-footer p {
    font-family: 'AvenirNext-Regular';
    font-size: 18px;
    color: white;
    line-height: 32px; 
    padding-left: 36px;
    padding-right: 36px; 
}

.website-logo-bottom {
    padding-top: 8px;
    /* DACHANG LIU: */
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 16px;
    color: white;
    letter-spacing: 0.07px;      
}

.btn-moonshot-video {
    font-family: 'AvenirNext-Bold', sans-serif;
    font-size: 14px;
    line-height: 1.35;
    padding: 20px 20px;
    letter-spacing: 1px;
}

/* Videos */
.video-content-constraint {
    overflow: hidden;
    display: block;
    width: 160%;
    height: 160%;
    margin-left: -420px;
    margin-top: -160px;
    z-index: 0;
}

.header-unit {
  height: 1400px;
  position: relative;
  /*padding: 20px;*/
  overflow: hidden;
  display: block;
}

#video-container {
	position: absolute;
    overflow: hidden;
}
#video-container {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

.content-before-video {
    z-index: 1;
}

.video-mask {
    z-index: 1;
    background: rgba(0,0,0,0.75);
    padding: 20px 10px 60px 10px;
    position: absolute;
    height: 640pt;
    width: 100%;
}