/* ==========================================================================
   Overriding styles
   ========================================================================== */

.cdi-mobile-banner {
/* Rectangle: */
  display: block;
  position: relative;
  background-color: white;
  padding: 20px 10px 60px 10px;
  width: 100%;
  height: 640pt;
  z-index: 3;
}

.cdi-mobile-project-intro {
  display: block;
  position: relative;
  background-color: white;
  padding: 372px 10px 60px 10px;
  width: 100%;
  height: 640pt;
  z-index: 2;
}

.cdi-mobile-project-iphone {
  overflow: hidden; 
  display: block;
  position: relative;
  background-color: white;
  padding: 86px 10px 60px 120px;
  width: 100%;
  height: 690pt;
  z-index: 2;
}

.cdi-mobile-project-cdi-soul {
  display: block;
  position: relative;
  background-image: linear-gradient(-180deg, #47DA77 0%, #11A698 100%);
  padding: 20px 10px 60px 10px;
  width: 100%;
  height: 640pt;
  z-index: 2;
}

.cdi-soul-system-features {
    margin-top: 48pt;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
    opacity: 0.6;
}

.cdi-mobile-nav-titles {
    color: black;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0);
}

.website-logo {
    padding-top: 15px;
}

.cdi-mobile-project-title {
    padding-top: 100pt;
}

.cdi-mobile-project-subtitle {
    padding-top: 44pt;
}

.cdi-mobile-project-intro-block {
    padding-left: 48px;
    padding-right: 48px;
}

.cdi-mobile-project-logo {
    padding-top: 55pt;
}

.cdi-soul-system-title {
    padding-top: 55pt;
}

.cdi-mobile-project-title h1 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 64px;
    color: black;
    letter-spacing: 0.3px;
    line-height: 72px;
}

.cdi-mobile-project-subtitle h4 {
    color: black;
}

.cdi-mobile-project-intro-title h4 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 36px;
    color: black;
    letter-spacing: 0.17px;
    line-height: 36px;
}

.cdi-mobile-project-intro-title p {
    font-family: 'AvenirNext-Regular';
    font-size: 18px;
    color: black;
    line-height: 32px;
}

.cdi-soul-system-title h4 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 36px;
    color: white;
    letter-spacing: 0.17px;
    line-height: 36px;
}

.cdi-soul-system-title p {
    font-family: 'AvenirNext-Regular';
    font-size: 18px;
    color: white;
    line-height: 32px;
}

