/* ==========================================================================
   Overriding styles
   ========================================================================== */

.cdi-mobile-banner {
/* Rectangle: */
  display: block;
  position: relative;
  background-color: white;
  padding: 20px 10px 60px 10px;
  width: 100%;
  height: 640pt;
  z-index: 3;
}

.cdi-mobile-project-intro {
  display: block;
  position: relative;
  background-color: white;
  padding: 372px 10px 60px 10px;
  width: 100%;
  height: 640pt;
  z-index: 2;
}

.cdi-mobile-project-iphone {
  overflow: hidden; 
  display: block;
  position: relative;
  background-color: white;
  padding: 86px 10px 60px 120px;
  width: 100%;
  height: 690pt;
  z-index: 2;
}

.cdi-mobile-project-cdi-soul {
  display: block;
  position: relative;
  background-image: linear-gradient(-180deg, #47DA77 0%, #11A698 100%);
  padding: 20px 10px 60px 10px;
  width: 100%;
  height: 640pt;
  z-index: 2;
}

.cdi-mobile-interface-first {
    display: block;
    position: relative;
    background-color: white;
    padding: 20px 10px 60px 10px;
    width: 100%;
    height: 640pt;
    z-index: 2;    
}

.cdi-mobile-footer-section {
    display: block;
    position: relative;
    background-color: white;
    padding: 20px 10px 60px 10px;
    width: 100%;
    height: 640pt;
    z-index: 2;   
}

.cdi-soul-system-features {
    margin-top: 48pt;
    padding-left: 60pt;
    padding-right: 60pt;
    display: flex;
    justify-content: space-between;
}

.cdi-mobile-interface-first-row {
    margin-top: 60pt;
    padding-left: 40pt;
    padding-right: 40pt;
    display: flex;
    justify-content: space-between;
}

.cdi-mobile-interface-first-row div {
    white-space: nowrap;
}

.cdi-soul-system-features-line-two {
    margin-top: 20pt;
}

.cdi-soul-system-features div {
    white-space:nowrap;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
    opacity: 0.6;
}

.cdi-mobile-nav-titles {
    color: black;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0);
}

.website-logo {
    padding-top: 8px;
    /* DACHANG LIU: */
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.07px;    
}

.website-logo-bottom {
    padding-top: 8px;
    /* DACHANG LIU: */
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.07px;    
}

.cdi-mobile-project-title {
    padding-top: 100pt;
}

.cdi-mobile-project-subtitle {
    padding-top: 44pt;
}

.cdi-mobile-project-intro-block {
    padding-left: 48px;
    padding-right: 48px;
}

.cdi-mobile-project-logo {
    padding-top: 55pt;
}

.cdi-soul-system-title {
    padding-top: 55pt;
    padding-left: 30pt;
    padding-right: 30pt;
}

.cdi-mobile-ios10-logo {
    padding-top: 78pt;
    padding-left: 30pt;
    padding-right: 30pt;
}

.cdi-mobile-footer-links {
    margin-top: 204pt;
    margin-bottom: 28pt;
    /*padding-right: 26pt;*/
    height: 30pt;
}

.cdi-mobile-project-title h1 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 64px;
    color: black;
    letter-spacing: 0.3px;
    line-height: 72px;
}

.cdi-mobile-project-subtitle h4 {
    color: black;
}

.cdi-mobile-project-intro-title h4 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 36px;
    color: black;
    letter-spacing: 0.17px;
    line-height: 36px;
}

.cdi-mobile-project-intro-title p {
    font-family: 'AvenirNext-Regular';
    font-size: 18px;
    color: black;
    line-height: 32px;
}

.cdi-soul-system-title h4 {
    font-family: 'AkzidenzGroteskBE-Bold';
    font-size: 36px;
    color: white;
    letter-spacing: 0.17px;
    line-height: 36px;
}

.cdi-soul-system-title p {
    font-family: 'AvenirNext-Regular';
    font-size: 18px;
    color: white;
    line-height: 32px;
}

.cdi-soul-system-feature-single p {
    font-family: 'AvenirNext-Regular';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
}

p.interface-caption {
    /* Checking events & ne: */
    padding-top: 10pt;
    font-family: 'AvenirNext-Regular';
    font-size: 18px;
    color: #000000;
}

.cdi-mobile-ios10-logo p {
    /* CDI Mobile works per: */
    font-family: AvenirNext-Regular;
    font-size: 18px;
    color: #000000;
    line-height: 32px;
}

